
.pokedexClassica{
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    background-size: 100% 100%;
    width: 56%;
    height: 90%;
    background-image: url("https://raw.githubusercontent.com/Obrunowww/Pokemon-React/main/public/images/pokedex.png");
    
}
.pokedexLadoEsquerdo{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   
}
.pokedexLadoDireito{
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 73%;
    margin-bottom: 1%;


}
/* LadoEsquerdo Pokedex */
/* Local do botão q mudar a cor */
.botãoDeCima{
height: 18%;
width: 90%;
}
.mudançaDeCor{
    margin-left: 6%;
    margin-top: 3% ;
    height: 72%;
    width: 22%;
    border-radius: 100%;
    background-color: red;
    border: solid 2px black;
}

/* Local do pokemon */
.imagemPoke{
    padding-left: 5%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.botõesDeBaixo{
    width: 100%;
    height: 30%;
}
.esquerdaDaImagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 29%;
    background-color: rgba(172, 6, 6, 0.767);
    height: 66%;
    margin-bottom: 2px;
}
.esquerdaDaImagem h2{
    color: rgba(0, 0, 0, 0.295);
}
.esquerdaDaImagem h2, .esquerdaDaImagem p{
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.esquerdaDaImagem p{
    width: 100%;
    border-bottom: solid 1px black;
    max-height: 43px;
    overflow: hidden auto;
    
}
.esquerdaDaImagem p::-webkit-scrollbar {
    width: 12px;
  }
.PokeAtualtipos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
    width: 100%;
}
.PokeAtualtipos button{
    width: 50%;
    border: solid 1px;
    color: black;
    background-color: transparent;
    
}

.LocalDaImagemPokemon{
    border-radius: 6px;
    width: 50%;
    transition: all ease 2s;
    background-size: 100% 100%;
    height: 86%;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LocalDaImagemPokemon img{
    width: 90%;
    height: 80%;
    object-fit: contain;
}

.botõesDeBaixo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.avançarPokes{
    width: 35%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
}
.avançarPokes button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 40%;
    width: 40%;

}
.botõesDeBaixo button:hover, .ParteDeBaixoLadoDireito button:hover{
    background-color: rgba(0, 0, 0, 0.048);
}
.interagirComPokes{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.interaçãoBotãoCima{
    height: 28%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.interaçãoBotãoCima button{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.interaçãoBotãoBaixo{
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10%;
    margin-bottom: 2%;
}
.interaçãoBotãoBaixo button{
    width: 62%;
    height: 75%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.interaçãoBotãoCima button:first-child {
    
    width: 20%;
    height: 100%;
    border-radius: 100%;
    margin-left: 10%;
    margin-right: 3%;
   
  }
  
  /* Estilizar os outros dois botões */
  .interaçãoBotãoCima button:not(:first-child) {
   
    width: 30%;
    height: 40%;
    
  }

  /* LadoDireitoPokedex */

  .informaçõesAvPokemon{
    padding-left: 1%;
    background-color: rgba(0, 0, 0, 0.788);
    width: 88%;
    height: 62%;
    overflow: hidden auto;
  }
  .informaçõesAvPokeBotões{
    width: 80%;
    height: 33%;
    
    transition: all ease 2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
  }
  .ataquesGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
 
  .ataque{
    border: solid 1px black;
    padding: 2px;
  }
 
  .evolções{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 180px;
  }
  .evolções figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 90%;
  }
  .evolções figcaption{
    padding: 2px;
  }
  .ParteDeBaixoLadoDireito{
    margin-bottom: 2%;
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: space-around;
  }
  .ParteDeBaixoLadoDireito button{
    border: none;
    background: transparent;
    cursor: pointer;
    width: 40%;
    height: 100%;
  }